<ion-content overflow-scroll="true">
    <div class="container-fluid ">

        <div class="row">
            <div class="col">
                <img class="nd-logo" ng-src="img/logo.png" alt="logo" />
            </div>
        </div>


        <h1 class="main-headin main-headin--green text-center">Well, hello there!</h1>


        <h2 class="sub-heading text-center">What would you like to do</h2>



        <div class="net-container">
            <div class="row">
                <div class="col" ng-href="#/tab/chats">
                    <a href="#/tab/chats" id="login">
                        <div class="inner-div">
                            <img ng-src="img/login.png" width="100" height="100" alt="Login" />
                            <p>Login | Register</p>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <div class="inner-div">
                        <img ng-src="img/apply.png" width="100" height="100" alt="Apply" />
                        <p>Apply</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="border-top:none">
                    <div class="inner-div">
                        <img ng-src="img/services.png" width="100" height="100" alt="Services" />
                        <p>Added Services</p>
                    </div>
                </div>
                <div class="col" style="border-top:none">
                    <div class="inner-div">
                        <img ng-src="img/tools.png" width="100" height="100" alt="Tolls" />
                        <p>Use Our Tools</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>