<!-- <ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
-->
<ion-content overflow-scroll="true">
    <div class="container-fluid ">

        <header class="row ned-header">
            <div class="col">
                <img class="nd-logo" ng-src="img/logo.png" alt="logo" />
            </div>
        </header>


        <div class="net-container">
            <div class="row">
                <div class="col">

                    <div class="inner-div">
                        <img ng-src="img/my-banking.png" width="100" height="100" alt="Login" />
                        <p>My Banking</p>
                    </div>

                </div>
                <div class="col">
                    <div class="inner-div">
                        <img ng-src="img/nedbank-beta.png" width="100" height="100" alt="Apply" />
                        <p>Nedbank Beta</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col" style="border-top:none">
                    <div class="inner-div">
                        <img ng-src="img/value-added-services.png" width="100" height="100" alt="Services" />
                        <p>Value Added Services</p>
                    </div>
                </div>
                <div class="col" style="border-top:none">
                    <div class="inner-div">
                        <img ng-src="img/ned-tool.png" width="100" height="100" alt="Tolls" />
                        <p>Tools</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col" style="border-top:none">
                    <div class="inner-div">
                        <img ng-src="img/ned-apply.png" width="100" height="100" alt="Services" />
                        <p>Apply</p>
                    </div>
                </div>
                <div class="col" style="border-top:none">
                    <div class="inner-div">
                        <img ng-src="img/ned-contact.png" width="100" height="100" alt="Tolls" />
                        <p>Contact</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</ion-content>