<ion-view view-title="terms and conditions">
    <ion-content class="splash padding">
        <header>
            <h1 class="main-headin main-headin--green text-center">Congrats</h1>
            <p class="sub-heading text-center">You have successfully activated your Nedbank App Banking</p>
        </header>
        <div class="padding">
            <a class="button button-block button-balanced" href="javascript:void(0)">
               Continue
            </a>
        </div>
    </ion-content>
</ion-view>