<ion-view view-title="Activate Baninking">
    <ion-content class=" splash padding">
        <form name="nedBankIDpassword" novalidate>
            <div class="list">
                <p class="input-label">Nedbank ID Password</p>
                <label class="item item-input">
              <input type="password" name="password" ng-minlength="8" ng-maxlength="16" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/" ng-model="password" required>
             <!--http://stackoverflow.com/questions/14850553/javascript-regex-for-password-containing-at-least-8-characters-1-number-1-uppe-->
            </label>
            </div>
            <div class="padding">
                <p ng-show="nedBankIDpassword.password.$error.required">* Password is required</p>
                <p ng-show="nedBankIDpassword.password.$error.minlength">* Password must be longer than 7 characters</p>
                <p ng-show="nedBankIDpassword.password.$error.maxlength">* Password must be lesser than 16 characters</p>
            </div>
            <div class="padding">
                <button class="button button-block button-balanced" ng-click="vm.goToNextPage(password)">
             Next
            </button>
                <p class="text-center">
                    <a href="#/forgot-password">Forgot your details ?</a>
                </p>
            </div>
        </form>
    </ion-content>
</ion-view>