<ion-view view-title="Activate Baninking">
    <ion-content class="has-subheader splash padding">
        <header>
            <h1 class="main-headin main-headin--green text-center">Accept Approve-It<sup>TM</sup></h1>
        </header>
        <ol>
            <li>1. Shortly, you will receive an Approve-It<sup>TM</sup>message 1234556.</li>
            <li>2. Please accept it within 60 Seconds.</li>
            <li>3. Use this OTP to continue.</li>
        </ol>
        <div class="padding" ng-href="#/app/createDeviceName">
            <a class="button button-block button-balanced" ng-href="#/app/createDeviceName">
               Next
            </a>
        </div>
    </ion-content>
</ion-view>