<ion-view view-title="You have Nedbank ID">
    <ion-content overflow-scroll="true" class=" splash padding">
        <div class="container-fluid ">


            <header>
                <div class="row">
                    <div class="col">
                        <img class="nd-logo" ng-src="modules/enrollment/img/nedbank-beta.png" alt="ned bank Beta" />
                    </div>
                </div>


                <h1 class="main-headin main-headin--green text-center">Do you have a Nedbank ID ?</h1>


                <h2 class="sub-heading text-center">You will only have to complete this process once</h2>
            </header>

            <div class="net-container">
                <div class="row">
                    <div class="col" style="border-bottom: 0px" ng-href="#/app/createNedbankID" href=" #/app/createNedbankID ">
                        <a class="" ng-href="#/app/createNedbankID" href=" #/app/createNedbankID ">
                            <div class="ned-list">
                                <div><img ng-src="modules/enrollment/img/ned-apply.png" width="100" height="100" alt="Yes" title="Yes i have nedbank id" /></div>
                                <div>
                                    <p>Yes!</p>
                                    <span>I have a Nedbank ID</span>
                                </div>
                            </div>
                        </a>


                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <a class="" href="#">
                            <div class="ned-list">
                                <div><img ng-src="modules/enrollment/img/ned-contact.png" width="100" height="100" alt="No" title="no i dont have nedbank id" /></div>
                                <div>
                                    <p>No.</p>
                                    <span>Help me find a solution</span>
                                </div>
                            </div>
                        </a>


                    </div>

                </div>




            </div>

        </div>
    </ion-content>
</ion-view>