@import '_home';
@import '_ned-bank-id';
.mar-top-50 {
    margin-top: 50px;
}

.sub-heading {
    color: $grey;
    font-size: 20px;
}

.main-headin {
    font-size: 26px;
}

.inner-div {
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
}

.inner-div p {
    text-align: center;
    color: $grey;
}

header p {
    text-align: center;
}

form p a {
    color: $grey;
}

// Global Overwrites
.input-label {
    width: 100%;
}